
/*.day-box {
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-spacing: 5; !* 为每个事件之间添加一些空间 *!
}*/

.grid-background {
    -fx-background-image: url('images/grid_background.png');
    -fx-background-repeat: repeat;
}

